.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 100%;
  height: 293px;
  justify-items: center;
  align-items: center;
  background-color: aquamarine;
}

.header__menu {
  margin-left: 10px;
  margin-top: -5px;
}

.header__logo {
  display: block;
}

.text-link {
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 5px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  }

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}


.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 237px;
}

.address__link {
  display: block;
}

.header__address {
  justify-self: end;
  margin-right: 50px;
}