/* ОБЩИЕ КЛАССЫ */
.uppercase {
  text-transform: uppercase;
}

.text-light {
  color: #fff;
}

.text-link {
  font-style: normal;
  font-size: 18px;
  text-underline-offset: 5px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* КЛАССЫ ДЛЯ HEADER */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 100%;
  margin: 90px 0 95px 0;
  justify-items: center;
  align-items: center;
  /* background-color: aquamarine; */
}

.header__menu {
  margin-left: 10px;
  margin-top: -5px;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.address {
  display: flex;
  flex-direction: column;
  line-height: 1.35em;
}

.header__address {
  max-width: 237px;
  margin-right: 52px;
  justify-self: end;
}

/* КЛАССЫ ДЛЯ ЗАГОЛОВКА "ОНО ТЕБЕ НАДО" */
.cover {
  position: relative;
  background: url("../images/cover.jpg");
  background-size: cover;
  height: 757px;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 50px;
  margin-bottom: 180px;
}

.cover__title {
  position: relative;
  z-index: 1;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 135px;
  padding-top: 155px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text_last-digit {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-top: auto;
  margin-bottom: 50px;
}

.cover__description-text {
  word-spacing: 18px;
  font-size: 22px;
}

.bet-button {
  font-size: 22px;
  background: transparent;
  border-radius: 0;
  padding: 12px 32px;
  border: 1px solid #fff;
  box-shadow: none;
}

/* СТИЛИ ДЛЯ ЛОТОВ */
.lots {
  margin: 120px 24px;
}

.lots__heading {
  font-size: 40px;
  font-weight: bold;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  list-style: none;
  margin: 27px 0 30px 0;
  padding: 0;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  flex-grow: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 48px 40px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card__title {
  text-decoration: underline;
  text-underline-offset: 4px;
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: bold;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg");
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg");
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  font-size: 20px;
  margin-left: 40px;
  text-underline-offset: 5px;
}

/* СТИЛИ ДЛЯ СЕКЦИИ ОБ АУКЦИОНЕ */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "about__logo about__content";
  /* background-color: aqua; */
  margin: 120px 24px;
}

.about__title {
  font-size: 40px;
  font-weight: bold;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  grid-area: about__logo;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 144px;
}

.about__content {
  grid-area: about__content;
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 133px;
  margin-left: 25px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  font-size: 20px;
}

/* КЛАССЫ ДЛЯ FOOTER */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  align-items: start;
  /* background-color: aquamarine; */
  margin-top: 180px;
}

.footer__address {
  max-width: 260px;
  margin-left: 51px;
  justify-self: start;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style-type: none;
  margin-left: 27px;
}

.footer__social-icon {
  width: 48px;
  height: auto;
}
